.collection-modal {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 0;
  }

  &__field-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__field-group-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}
