@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.mobile-nav {
  display: block;
  width: 100%;
  padding-bottom: env(safe-area-inset-bottom); // Support for notched iPhones
  background-color: $background;
  border-top: 1px solid rgba($border, 0.5);
  flex-shrink: 0;

  @include respond-to('lg') {
    display: none; // Hide on desktop
  }
}
