@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.create-pos-button {
  &__icon {
    width: 1rem; // w-4
    height: 1rem; // h-4
    margin-right: $spacing-xs; // mr-2
  }

  &__dialog-content {
    @media (width >= 640px) {
      // sm breakpoint
      max-width: 600px;
    }
  }
}
