@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.associate-pos-modal {
  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    padding: $spacing-md 0;
  }

  &__field-group {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
  }

  &__label {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
  }
}
