@use '../styles/variables' as *;

.root-layout {
  min-height: 100vh;
  background-color: $background;
  color: $foreground;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
