@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.creator-select {
  &__trigger {
    justify-content: space-between;
    width: 100%;
  }

  &__trigger-text {
    @include text-truncate;
  }

  %icon-base {
    width: 1rem; // h-4
    height: 1rem; // w-4
    flex-shrink: 0;
  }

  &__icon {
    @extend %icon-base;
  }

  &__icon-muted {
    @extend %icon-base;

    margin-left: $spacing-xs; // ml-2
    opacity: 0.5;
  }

  &__icon-check {
    @extend %icon-base;

    margin-right: $spacing-xs; // mr-2

    &--selected {
      opacity: 1;
    }

    &--unselected {
      opacity: 0;
    }
  }

  &__popover {
    width: 25rem; // w-[400px]
    padding: 0;
  }

  &__search-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border;
    padding: 0 $spacing-sm; // px-3
  }

  &__search-icon {
    @extend %icon-base;

    margin-right: $spacing-xs; // mr-2
    opacity: 0.5;
  }

  &__input {
    display: flex;
    width: 100%;
    height: 2.75rem; // h-11
    padding: $spacing-sm 0; // py-3
    background-color: transparent;
    font-size: $font-size-sm;
    border-radius: $radius-md;
    outline: none;

    &::placeholder {
      color: $muted-foreground;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-md;
  }

  &__loading-icon {
    @extend %icon-base;

    animation: spin 1s linear infinite;
  }

  &__item-col {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__item-name {
    @include text-truncate;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
