@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.dashboard-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;

  &__container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    flex: 1;
    overflow: hidden;
    height: 100vh;
    position: relative;
  }

  &__main {
    min-height: 0; // Fix grid overflow
    padding: $spacing-md;
    background-color: $background;
    overflow-y: auto;
    width: 100%;

    @include lg {
      padding: $spacing-xl;
    }
  }
}
