@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.scrollable-income-expense-chart {
  @include card-base;

  &__header {
    margin-bottom: $spacing-md;
  }

  &__title {
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
  }

  &__scroll-container {
    width: 100%;
    max-width: 100%;
    padding-bottom: $spacing-md;

    .scrollable-income-expense-chart--scrollable & {
      overflow-x: auto;
      padding-bottom: $spacing-xl;

      @include custom-scrollbar;
    }
  }

  &__chart-wrapper {
    min-height: 400px;
    padding-bottom: $spacing-md;
  }
}
